body {
    margin: 0;
    background-color: #B2E2BE;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #30B457;
    color: rgb(255, 255, 255);
}

.container {
    margin: 8px 32px;
    display: flex;
}

.container h1 {
    color: #000000;
    margin-bottom: 20px;
    margin-top: 60px;
}

.container p {
    color: #000000;
    margin: 0;
    font-size: 22px;
}

.container img {
    margin-right: 15px;
}

.textArea {
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.Headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.account {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
}

.account img {
    margin-right: 20px;
    width: 140px;
}

.Box {
    margin-bottom: 15px;
    margin-right: 80px;
    padding: 0 20px;
    display: grid;
}

.Box p {
    margin-bottom: 0px;
    margin-top: 10px;
}
.Box h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}
.Box button {
    width: 70px;
}
.Box select {
    width: 75px;
}
.Tools {
    display: grid;
}
